{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    
    <div class="content">
      <h1>
        {{sport.sport}}
      </h1>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header">
              <h3>Média de idade</h3>
              
            </div>
            <div class="card-footer">
              <div class="stats">
                <h3>{{ avg_age }}</h3>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header">
              <h3>Média de peso</h3>
              
            </div>
            <div class="card-footer">
              <div class="stats">
                <h3> {{avg_weigth}}</h3>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header">
              <h3>Atletas inscritos</h3>
              
            </div>
            <div class="card-footer">
              <div class="stats">
                <h3>{{count_athletes}}</h3>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header">
              <h3>Número de nações</h3>
              
            </div>
            <div class="card-footer">
              <div class="stats">
                <h3>{{count_nationality}}</h3>
                
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <div class="row">
        <h1>
          Atletas dessa modalidade
        </h1>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Nacionalidade</th>
              <th scope="col">Idade</th>
              <th scope="col">Sport</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for athlete in athletes  %}
              
              <th scope="row">{{athlete.name}}</th>
              <th scope="row">{{athlete.nationality}}</th>
              <th scope="row">{{athlete.age}}</th>
              <th scope="row">{{athlete.sport}}</th>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    
      
    </div>
   

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
