{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Esporte</th>
            <th scope="col"></th>
           
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for sport in sports  %}
            
            <th scope="row">{{sport.sport}}</th>
            
            <th scope="row"><a class="btn btn-success" href="{% url 'sport_detail' sport.pk %}" role="button">Detalhar</a>
            </th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
      
    </div>
   

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
